.contenedor-testimonio{
    background-color: white;
    margin: 40px 0;
    box-shadow: black 0 0px 10px;
}
.imagen-testimonio{
    width: 100%;
}

.contenedor-texto-testimonio{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.nombre-testimonio{
    font-size: 1.3rem;
    font-family: sans-serif;
    
}
.cargo-testimonio{
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 15px 0;
}
.texto-testimonio{
    font-size: 1.1rem;
    font-family: sans-serif;
}